{% extends 'agency/base.html' %}
{%load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div style="display: flex; flex-wrap: wrap; width: 90%; margin: 50px auto;" class="row">
{%for now_client in client_realties.keys %}
  <h3 style="display: inline-block; float: right"><strong>Information about client</strong></h3>
  <hr>
  <h6><strong>Username: {{now_client.username}}</strong></h6>
    <h6><strong>First_name: {{now_client.first_name}}</strong></h6>
    <h6><strong>Last name: {{now_client.last_name}}</strong></h6>
    <h6><strong>Email: {{now_client.email}}</strong></h6>
    <a class="btn btn-outline-success" href="{{now_client.delete_employee_url}}">Delete Client</a>

  <hr>
  {% for client, dict_realties in  client_realties.items %}
    {% if now_client == client %}
    {% for key, realties in  dict_realties.items %}
    {% if key == 'send_query_realty' %}
        {%if realties %}
            <h4 style="display: inline-block; float: right"><strong>Realties, which client send query</strong></h4>
                {% for realty in realties%}
                    <div style="width: 274px; height: 300px; flex-basis: 25%; max-width: 274px; margin-bottom: 112px;" class="col-lg-4">
                        <img style="height: 300px;" class="thumbnail" src="{{realty.photo.url}}">
                        <div class="box-element product">
                            <h6><strong>{{realty.name}}</strong></h6>
                            <h6><strong>{{realty.address.city}}</strong></h6>
                            <hr>
                            <a class="btn btn-outline-success" href="{{realty.get_absolute_url}}">View</a>
                            <h4 style="display: inline-block; float: right"><strong>${{realty.price}}</strong></h4>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    {% endif %}
    {% if key == 'buying_realty' %}
        {%if realties %}
            <h4 style="display: inline-block; float: right"><strong>His buying realties</strong></h4>
            {% for realty in realties%}
                <div style="width: 274px; height: 300px; flex-basis: 25%; max-width: 274px; margin-bottom: 112px;" class="col-lg-4">
                    <img style="height: 300px;" class="thumbnail" src="{{realty.photo.url}}">
                    <div class="box-element product">
                        <h6><strong>{{realty.name}}</strong></h6>
                        <h6><strong>{{realty.address.city}}</strong></h6>
                        <hr>
                        <a class="btn btn-outline-success" href="{{realty.get_absolute_url}}">View</a>
                        <h4 style="display: inline-block; float: right"><strong>${{realty.price}}</strong></h4>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    {% endfor %}
    {% endif %}
  {% endfor %}


{% endfor %}
</div>
{% endblock %}